main {
    height: 93vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
}

.contenedor-izq {
    width: 70rem;
    height: 80%;
    margin-right: 5rem;
}

.contenedor-izq p {
    margin-top: 3rem;
}

.input-texto {
    width: 80%;
    height: 63%;
    font-size: 2rem;
    margin-top: 3.5rem;
}

.container-btns {
    position: absolute;
    width: 105rem;
    margin-top: 33rem;
}

.b-encriptar {
    margin: 0 6rem;
}

.b-desencriptar {
    margin-right: 13rem;
}

.b-copiar {
    margin-right: 2rem;
    opacity: 0.9;
}

.contenedor-der {
    width: 25rem;   
    height: 80%;
    margin-top: 0;
    box-shadow: 3px 3px 10px lightgrey;
    background-image: url(../image/font-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    padding: 0 2rem;
}

.contenedor-texto {
    justify-content: flex-start;
}

.contenedor-texto p:nth-child(2) {
    margin-top: 70%;
}

.output-texto {
    width: 90%;
    height: 65%;
    margin-top: 15%;
}

footer {
    margin: 1rem 0 0 0;
}