main {
    justify-content: flex-start;
    padding: 4rem 5rem;
}

.contenedor-izq {
    height: 40rem;
    justify-content: space-around;
}

.input-texto {
    width: 85%;
    height: 75%;
    font-size: 1.8rem;
    margin-top: 3rem;
}

.container-btns {
    flex-direction: row;
    margin-top: 3rem;
}

.b-encriptar {
    margin-right: 2rem;
}

.b-desencriptar {
    margin-right: 2rem;
}

.contenedor-der {
    display: none;
}

footer {
    display: none;
}